<!-- listing.html -->
{% extends "base.html" %}
{% block title %}我有話要說{% endblock %}
{% block content %}
<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='card'>
        <div class='card-header' align=center>
          <h3>~~心裡苦，只在這裡說~~</h3>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    {% for p in posts %}
    <div class='col-sm-12 col-md-6'>
      <div class='card {% cycle "text-white bg-primary" "bg-warning" "bg-success" %}'>
        <div class='card-header text-white bg-secondary'>【{{ p.nickname }}】覺得{{ p.mood }}</div>
        <div class='card-body'>{{ p.message | linebreaks }}</div>
        <div class='card-footer' align='right'>
          <i><small>{{ p.pub_time }}</small></i>
        </div>
      </div>
      <br/>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

